@import './variables';

.App {
  .App-container {
    margin-top: 56px;

    .left-navigation-container {
      border-right: 1px solid $border-color;
      position: fixed;
      height: calc(100% - 56px);
      overflow-y: auto;
      overflow-x: hidden;
      padding-right: 0px;
      left: 0px;
      z-index: 1;
      width: 25%;
    }

    .main-container {
      background-color: #f8f8f8;
      min-height: calc(100vh - 56px);
    }
  }

  input, select {
    &:focus {
      border-color: $primary-color;
      box-shadow: 0 0 0 .2rem $primary-color-transparent;
    }
  }
}

@media screen and (max-width: 768px) {
  .App {
    .App-container {
      .left-navigation-container {
        display: none;
        top: 0;
        z-index: 10000;
        background: white;
        padding: 20px 5px;
        height: 100%;
        width: 85%;
      }
    }
  }
}